.user-container {
   padding: 20px;

   .icon-inside-btn {
      margin-right: 8px;
   }

   .user-body {
      .hide-able-col {
         // screen < 650px
         @media (max-width: 650px) {
            display: none;
         }
      }
   }

   .user-footer {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .user-btn {
      width: 28px;
      font-size: 18px;
      margin-right: 8px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #fff;
   }

   .info-btn {
      color: rgb(0, 153, 255);
   }

   .edit-btn {
      color: yellow;
   }

   .delete-btn {
      color: red;
   }
}

.pagination {
   .page-item {
      .page-link {
         background-color: #212529;
         color: #fff;
         border: 1px solid #fff;
      }
   }

   .active {
      .page-link {
         color: #212529;
         background-color: #fff;
         border: 1px solid #212529;
      }
   }
}
