.user-container {
   .users-header {
   }

   .title {
   }

   .actions {
   }

   .refresh-btn {
   }

   .add-btn {
   }

   .user-footer {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .popup {
   }
}

.pagination {
   .page-item {
      .page-link {
         background-color: #212529;
         color: #fff;
         border: 1px solid #fff;
      }
   }

   .active {
      .page-link {
         color: #212529;
         background-color: #fff;
         border: 1px solid #212529;
      }
   }
}
