.user-form {
   .input-wrapper {
      display: flex;

      // screen < 500
      @media (max-width: 499px) {
         display: block;
      }

      + .input-wrapper {
         margin-top: 8px;
      }

      label {
         width: 150px;
      }
   }

   .input-form {
      width: 100%;
      flex: 1;
   }

   .select-wrapper {
      margin-top: 16px;
      display: flex;
      align-items: center;
   }

   .select-wrapper-item {
      + .select-wrapper-item {
         margin-left: 48px;

         // screen < 500
         @media (max-width: 499px) {
            margin-left: 12px;
         }
      }

      label {
         margin-right: 16px;
      }
   }

   .select-form {
      width: 100%;
   }
}
