.topnav {
   overflow: hidden;
   background-color: #333;
   display: flex;
   justify-content: space-between;
   align-items: center;

   a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
   }
   a:hover {
      background-color: #ddd;
      color: black;
   }

   a.active {
      background-color: #04aa6d;
      color: white;
   }

   .login-div {
      display: flex;
      // align-items: center;
      margin-right: 16px;
      color: white;

      p {
         margin: 0;
         margin-right: 16px;
         font-size: 18px;
      }
   }
}

.nav-header-wrapper {
   img {
      border-radius: 50%;
      animation: spin-logo 1.5s linear infinite;
   }

   @keyframes spin-logo {
      0% {
         transform: rotate(0deg);
      }
      100% {
         transform: rotate(360deg);
      }
   }

   .dropdown-menu {
      &.show {
         // screen > 991
         @media (min-width: 991px) {
            left: -86px !important;
         }
      }
   }
}
